.wrapper {
    position: fixed;
    top: 40vh;
    left: 8px;
    border-radius: 8px;
    background-color: var(--primary);
    z-index: 10;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    height: 220px;
    width: 55px;
}