.wrapper {
    display: flex;
    border: none;
    background-color: transparent;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    padding: 8px 15px;
    cursor: pointer;

    &:hover {
        transform: scale(1.3);
        color: bisque;
        transition: .3s ease-in-out;
    }
}

.outline {
    border: 1px solid black;
}