.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 80%;
    margin: 100px 0;
}

.reverse {
    justify-content: flex-start;
}

.container {
    display: flex;
    align-items: flex-end;

    .left {
        align-items: flex-start;
        margin-left: -50px;
        text-align: left;
    }

    .right {
        margin-right: -50px;
    }
}

.content {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;

    width: 500px;
    height: 500px;

    padding-bottom: 70px;

    text-align: right;
    z-index: 1;

    button.btn-buy {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: white;
        border: 1px solid black;
        box-shadow: 4px 6px black;
        cursor: pointer;

        &:hover {
            transition: .3s ease-out;
            box-shadow: 2px 3px black;
            text-decoration: underline;
        }
    }
}

.underline-text {
    transform-origin: right center 0;
    border-bottom: 1px solid black;
}

.image {
    width: 600px;
    height: 500px;
    overflow: hidden;

    img {
        width: 100%;
    }
}